
<div class="mainscreen">
    <div class="card">
      <div class="leftside">
        <img
          src="../../../assets/gifs/tix.gif"
          class="product"
          alt="illustration of a ticket"
        />
      </div>
      <div class="rightside">
        <!-- <form (ngSubmit)="uploadTicket($event)" [formGroup]="ticket">
          <h1>You have come this far!!</h1>
          <h2>Let's Sell your tickets. Please verify before submitting</h2>
          <p>Name</p>
          <input type="text" class="inputbox" name="title" formControlName="title" required />
          <p>Bank Account Numbeer</p>
          <input type="text" class="inputbox" name="description" id="card_number" formControlName="description" required />
          <p>IFSC Coder</p>
          <input type="text" class="inputbox" name="description" id="card_number" formControlName="description" required />
          

        </form> -->
      </div>
    </div>
  </div>

