/* Popup container */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  z-index: 9999; /* ensures the popup appears above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Inner container */
.popup-inner {
  border-color: solid #3f4092;
  background-color: white;
  min-width: 30%;
  max-width: 80%; /* adjust as needed */
  max-height: 60%;
  padding: 2em 3em 3em 2em;
  border-radius: 1em;
  position: relative;
}

/* Close button */
.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: #333;
  font-size: 2em;
}

/* Popup photo */
.popup__photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Add some spacing between the photo and text */
}

.popup__photo img {
  max-width: 100%;
  max-height: 100%; /* Limit image height to container height */
  border-radius: 10px;
}

/* Popup text */
.popup__text {
  margin-top: 20px;
}

/* Heading */
.popup__text h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Paragraph */
.popup__text p {
  font-size: 18px;
  line-height: 1.6;
}
