<div class="popup" id="popup">
	<div class="popup-inner">
	<!-- <div class="popup__photo">
		<img src="http://via.placeholder.com/640x360" alt="">
	</div> -->
	<div class="popup__text">
		<h1>{{title}}</h1>
		<p>{{description}} <br> <b>Date: {{date}} <br> Price: {{price}}</b> </p>
		<app-payment *ngIf="!isDelete; else deleteButton"></app-payment>
		<ng-template #deleteButton>
			<button class="btn btn-danger" (click)="deleteTicket()">Delete</button>
		</ng-template>
	</div>
	<a class="popup__close" href="javascript:void(0)" (click)="closeDialog()">X</a>
	</div>
</div>
