  <section class="showcase">
    <header>
      <h2 class="logo">TradeTix</h2>
      <div class="toggle"></div>
    </header>
    <video loop autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" src="../../../assets/video/joker.mkv"></video>
    <div class="overlay"></div>
    <div class="text">
      <h2>{{ title }} </h2> 
      <h3>Don't waste your tickets</h3>
      <p>Trade Tix is a user-friendly web app where you can buy and sell tickets you can no longer use. Easily find a new home for your tickets or grab last-minute deals from other users..</p>
      <a href="/sign-up" title ="will redirect you to main menu">Explore</a>
    </div>
    <ul class="social">
      <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png" alt="link to facebook"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png" alt="link to twitter"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png" alt = "link to instagram"></a></li>
    </ul>
  </section>
