  <section class="showcase">
    <header>
      <h2 class="logo">chadarmod</h2>
      <div class="toggle"></div>
    </header>
    <video loop autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" src="../../../assets/video/joker.mkv"></video>
    <div class="overlay"></div>
    <div class="text">
      <h2>{{ title }} </h2> 
      <h3>Don't waste your tickets</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      <a href="/sign-up">Explore</a>
    </div>
    <ul class="social">
      <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    </ul>
  </section>
