	<div class="responsive-wrapper">
		<div class="main-header">
			<h1>Welcome {{username}} </h1>
			<app-settings></app-settings>
		</div>
		<!-- <div class="content-header">
			<div class="content-header-intro">
				<h2>Today's Treding Tickets</h2>
				<p>lorem Ipsum.</p>
			</div>
		</div> -->
		<div class="content">
			<div class="content-panel">
				<div class="vertical-tabs">
					<a href="javascript:void(0)" (click)="getTickets('today'); isUpload=false" [class.active]="isToday">Today's Deal</a>
					<a href="javascript:void(0)" (click)="getTickets('all'); isUpload=false" [class.active]="isAll">All Tickets</a>
					<a href="javascript:void(0)" (click)="getTickets('mine'); isUpload=false" [class.active]="isMine">My Tickets</a>
					<a href="javascript:void(0)" (click)="uploadTicket()" [class.active]="isUpload">Sell Tickets</a>
				</div>
			</div>
			<div *ngIf="!isUpload; else uploadComponent" class="content-main">
				<div class="card-grid">
					<article *ngFor="let ticket of tickets" class="card">
						<div class="card-header">
							<div>
								<span><img [src]="ticket.img" /></span>
								<h3>{{ticket.title}}</h3>
							</div>
						</div>
						<div class="card-body">
							<p><b>Date: {{ticket.date}} <br> Price: {{ticket.price}}</b></p>
						</div>
						<div class="card-footer">
							<a href="javascript:void(0)" (click)="openDialog(ticket.id)">View Ticket</a>
						</div>
					</article>
				</div>
			</div>
		</div>

		<!-- UPLOADING TICKETS COMPONENT -->
		<ng-template #uploadComponent>
			<app-upload-ticket></app-upload-ticket>
		</ng-template>

		<ng-template #accountUpdate>
			<app-account></app-account>
		</ng-template>

	</div>